* {	padding: 0; margin: 0; }

body {
	font: 14px/1.5em Helvetica, Arial, sans-serif;
}

a {	color: #069; }
a:hover { color: #28b; }

input {
    height: 30px;
}

#content {
	margin: 10px;
}

.graph-placeholder {
	width: 600px;
	height: 140px;
	font-size: 14px;
	line-height: 1.2em;
}

#graphs {
	float: left;
}

#clouds {
	float: left;
}

#tooltip {
	position: absolute;
	display: none;
	border: 1px solid #fdd;
	padding: 2px;
	background-color: #fee;
}

td.clouds {
	width: 120px;
}

.button{
  display: inline-block;
  *display: inline;
  zoom: 1;
  padding: 12px 30px;
  margin: 0;
  cursor: pointer;
  border: 1px solid #bbb;
  overflow: visible;
  font: bold 18px arial, helvetica, sans-serif;
  text-decoration: none;
  white-space: nowrap;
	color: #fff;
  background-color: #269CE9;
  border-color: #269CE9;
  background-image: linear-gradient(top, rgba(255,255,255,1),
                                         rgba(255,255,255,0)),
                    url(data:image/png;base64,iVBORw0KGg[...]QmCC);
  transition: background-color .2s ease-out;
  background-clip: padding-box; /* Fix bleeding */
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .3),
              0 2px 2px -1px rgba(0, 0, 0, .5),
              0 1px 0 rgba(255, 255, 255, .3) inset;
  text-shadow: 0 1px 0 rgba(0,0,0,.2);
}

.button:hover{
	background-color: #70B9E8;
    color: #555;
}

.button:active{
  background: #269CE9;
  position: relative;
  top: 2px;
  text-shadow: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .3) inset;
}