{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    {% block head %}
        <title>Weather History</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">
    {% endblock %}
    {% block js %}{% endblock %}
</head>
<body>
	<div id="content">
    {% block content %}{% endblock %}
	</div>
</body>
</html>