{% extends "includes/base.html" %}
{% block content %}
    <a href="{% url 'place_detail' '1' %}" class="button">Weather history</a>
    <br><br>
    <a href="{% url 'webcam_place_list' %}" class="button">WebCam images history</a>
{% endblock %}