{% extends "includes/base.html" %}
{% load staticfiles %}
{% block js %}
    <script type="text/javascript" src="{% static 'jquery.js' %}"></script>
	<script type="text/javascript" src="{% static 'jquery.flot.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery.flot.time.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery.flot.direction.js' %}"></script>
	<script type="text/javascript">
	function get_unit_from_label(label){
	    var unit_regexp = /.*\((.*)\)/g;
        var unit_regexp_result = unit_regexp.exec(label);
        return (unit_regexp_result != null ? unit_regexp_result[1] : "")
	};

	$(function() {
        var options_base = {
            xaxis: {mode: "time",
                    timeformat: "%d %b<br>%H:%M",
                    min: {{ start_time }},
                    max: {{ end_time }},
            },
            grid: {
              hoverable: true,
            },
            series: {
				lines: {
					show: true,
                    fill: true,
				},
				points: {
					show: true
				}
			},
            legend: {
                position: "sw"
            }
        };

        var options_temp = jQuery.extend({}, options_base);
        options_temp['colors'] = ["red"];
        options_temp['points'] = { show: false };

        var options_wind = jQuery.extend(true, {}, options_base);
        options_wind['colors'] = ["orange"];
        options_wind['points'] = { show: false };
        options_wind['series']['lines']['fill'] = false;
        options_wind['yaxis'] = {min: 0};

        var options_snow_cover = jQuery.extend({}, options_base);
        options_snow_cover['colors'] = ["blue"];
        options_snow_cover['yaxis'] = {min: 0};

        var options_showers = jQuery.extend({}, options_base);
        options_showers['colors'] = ["blue", "green"];
        options_showers['series'] = {bars: { show: true, align : "center", barWidth: 60 * 60 * 1000}};
        options_showers['yaxis'] = {min: 0};

        var options_avalanche = jQuery.extend({}, options_base);
        options_avalanche['colors'] = ["violet"];
        options_avalanche['yaxis'] = {min: 0, max: 5};


		$.plot("#placeholder_temp", [{label:"temp (&deg;C)", data:{{ temp_data|safe }} }], options_temp);
        {% if wind_data %}
            $.plot("#placeholder_wind", [{label:"wind speed (m/s)", direction_label: "wind direction (&deg; from N)", data:{{ wind_data|safe }} }], options_wind);
        {% endif %}
        {% if avalanche_risk_data %}
            $.plot("#placeholder_avalanche", [{label:"avalanche risk", data:{{ avalanche_risk_data|safe }} }], options_avalanche);
        {% endif %}
        {% if snow_cover_data %}
            $.plot("#placeholder_snow_cover",[{label:"snow cover (cm)", data:{{ snow_cover_data|safe }} }], options_snow_cover);
        {% endif %}
        {% if snow_showers_data or rain_showers_data %}
            $.plot("#placeholder_showers", [{label:"snow (mm)", data:{{ snow_showers_data|safe }} }, {label:"rain (mm)", data:{{ rain_showers_data|safe }} }], options_showers);
        {% endif %}

        $(".graph-placeholder").bind("plothover", function (event, pos, item) {
            if (item) {
                var x = $.plot.formatDate(new Date(item.datapoint[0]), '%d %b %H:%M');
                var y = "" + item.series.data[item.dataIndex][1].toFixed(2) + get_unit_from_label(item.series.label);
                if (item.series.data[item.dataIndex].length > 2){
                    y += "<br>" + item.series.data[item.dataIndex][2].toFixed(0) + get_unit_from_label(item.series.direction_label);
                }

                $("#tooltip").html(y + "<br>" + x)
                        .css({top: item.pageY + 5, left: item.pageX + 5})
                        .fadeIn(200);
            } else {
                $("#tooltip").hide();
            }
        });
	});
	</script>
{% endblock %}
{% block content %}
    <div id="graphs">
        <span>Miejsce:</span>
        <select onchange="if (this.value) window.location.href=this.value + '?days=' + $('#days option:selected').text()">
            {% for place in places %}
                <option value="{% url 'place_detail' place.id %}" {% if place.id == object.id %} selected {% endif %}>{{ place.name }}</option>
            {% endfor %}
        </select>
        <span>Dni:
        <select id="days" onchange="if (this.value) window.location.href=this.value">
            <option value="">{{ days }}</option>
            <option value="?days=1">1</option>
            <option value="?days=2">2</option>
            <option value="?days=3">3</option>
            <option value="?days=5">5</option>
            <option value="?days=7">7</option>
            <option value="?days=10">10</option>
            <option value="?days=14">14</option>
            <option value="?days=21">21</option>
            <option value="?days=30">30</option>
            <option value="?days=60">60</option>
            <option value="?days=90">90</option>
            <option value="?days=180">180</option>
            <option value="?days=365">365</option>
        </select>
        </span>
            <div id="placeholder_temp" class="graph-placeholder"></div><a href="{{ url_temp }}" target="_blank">Data source</a>
        {% if wind_data %}
            <div id="placeholder_wind" class="graph-placeholder"></div><a href="{{ url_wind }}" target="_blank">Data source</a>
        {% endif %}
        {% if avalanche_risk_data %}
            <div id="placeholder_avalanche" class="graph-placeholder"></div><a href="{{ url_avalanche_risk }}" target="_blank">Data source</a>
        {% endif %}
        {% if snow_cover_data %}
            <div id="placeholder_snow_cover" class="graph-placeholder"></div><a href="{{ url_snow_cover }}" target="_blank">Data source</a>
        {% endif %}
        {% if snow_showers_data or rain_showers_data%}
            <div id="placeholder_showers" class="graph-placeholder"></div><a href="{{ url_showers }}" target="_blank">Data source</a>
        {% endif %}
    </div>
    <div id="clouds">
        <div><a href="{% url 'webcam_place_list' %}" class="button">WebCam images history</a></div>
        <br>
        <h2>Zachmurzenie</h2>
        <table>
        {% for cloud in clouds %}
            <tr>
                <td class="clouds">{{ cloud.date|date:"D d.m H:m" }} </td>
                <td>{{ cloud.value }}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
    <div id='tooltip'></div>
{% endblock %}
