{% extends "includes/base.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% block head %}
    {{ block.super }}
    <link href="{% static 'jquery-ui.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block js %}
    <script type="text/javascript" src="{% static 'jquery.js' %}"></script>
	<script type="text/javascript" src="{% static 'jquery-ui.js' %}"></script>
	<script type="text/javascript">
      $(function() {
          $("#datepicker").datepicker({
            dateFormat: "yy-mm-dd",
            onSelect: function(dateText) {
                $(this).change();
            }
            }).change(function() {
                window.location.href = "?date=" + this.value;
            }).datepicker('setDate', '{{ date|date:"Y-m-d" }}')
      });

    </script>
{% endblock %}
{% block content %}
    <div><a href="{% url 'place_detail' '1' %}" class="button">Weather history</a></div>
    <br>
    <p>Date: <input type="text" id="datepicker"></p>
    <div>
    {% for place, images in places.items %}
        <h2>{{ place }}</h2>
        {% for webcam_image in images %}
            <a href="{{ webcam_image.image.url }}" title="{{ webcam_image.date|date:"d/m/Y" }} {{  webcam_image.date|time:"H:i" }}"><img src="{{ webcam_image.image.url}}.100x100_q85_crop.jpg" alt="{{ webcam_image.date|date:"d/m/Y" }} {{  webcam_image.date|time:"H:i" }}"></a>
        {% endfor %}
    {% endfor %}
	</div>
{% endblock %}
